@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  color: #10002b;
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #eb7745 17.23%,
    #e48f6a 42.04%,
    #eb7745 55.12%,
    #e48f6a 71.54%,
    #eb7745 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text {
  color: #1a232e;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    /* rgb(234, 226, 240) 0.89%, */ #ec8558 17.23%,
    #db9e85 42.04%,
    #e1a58b 55.12%,
    #e48f6a 71.54%,
    #ec8558 100%
  );
  color: #1a232e;
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: var(--black-gradient);
  color: white;
}

.feedback-card:hover {
  /* background: var(--black-gradient); */
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #fc67fa 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

.circle-radiant {
  /* background: radial-gradient(rgba(0, 0, 0, 0) 0%, #b65cff 10%); */

  /* global 92%+ browsers support */
  background: radial-gradient(
    circle at 100% 100%,
    #ffff0003 0%,
    #ec8558 55%,
    #ee82ee0a 100%
  );
}

.splide__slide {
  width: fit-content !important;
  margin-left: 10px;
  margin-right: 10px;
}

.bg-blue-gradient-button {
  background-color: "#EC8558";
}
